In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import codecs
from datetime import datetime

In [2]:
def china(file: Path, index: list):
    dataset = pd.read_csv(file)
    dataset.rename(columns={col:col.lower() 
                            for col in dataset.columns}, 
                   inplace=True)
    # dataset.insert(1, 'country', 'China')
    return dataset.set_index(index)

In [3]:
def korea(file: Path, index: list):
    ds = pd.read_csv(file)
    if 'red_tite' in file.name:
        ds.rename(columns={'time(UTC)':'time'}, inplace=True)
        # ds.insert(1, 'country', 'Korea')
        return ds.set_index(index)
    
    if 'wave_glider' in file.name:
        dates, times = [], []
        append = dates.append
        appent = times.append
        
        drop_cols = ['Year', 'Month', 'Day', 'Hour', 'Minute'] + [
            col for col in ds.columns if 'Unnamed' in col
        ]
        for y, m, d, h, mn in zip(ds.loc[: ,'Year'], 
                                  ds.loc[: ,'Month'],
                                  ds.loc[: ,'Day'],
                                  ds.loc[: ,'Hour'], 
                                  ds.loc[: ,'Minute']):
            # date = pd.to_datetime(f'{y}-{d:02}-{m:02} {h:02}:{mn:02}')
            append(f'{m:g}/{d:g}/{y}')
            appent(f'{h:g}:{mn:02}')
        
        sta = [f'WG{i+1}' for i in range(ds.shape[0])]
        ds.insert(0, 'station', sta)
        ds.insert(1, 'country', 'Korea')
        ds.insert(2, 'date', dates)
        ds.insert(3, 'time', times)
        ds.drop(columns=drop_cols, inplace=True)
        
        ds.rename(columns={'Longitude':'lon', 
                           'Latitude': 'lat', 
                           'Chlorophyll-a': 'chla'}, inplace=True)
        return ds.set_index(index)

In [4]:
def japan(file: Path, index: list):
    ds = pd.read_excel(file, sheet_name='satdset', parse_dates=False)
    cols = {col:col.replace('Rrs', 'Rrs_') for col in ds.columns}
    ds.sort_values('date', axis=0, ascending=True, inplace=True)
    ds.sort_values('date', axis=0, ascending=True, inplace=True)
    ds.dropna(axis=0, subset=['date', 'time'], inplace=True)
    
    ds['date'] = [fmt_date(date_str=d, sep='-') for d in ds['date']]
    ds['time'] = [fmt_time(time_str=t) for t in ds['time']]
    ds.rename(columns=cols, inplace=True)
    # ds.replace(np.nan, '-999', inplace=True)
    return ds.set_index(index)

In [5]:
def fmt_time(time_str: str, sep: str = ':'):
    # print(time_str, type(time_str))
    if type(time_str) == str:
        h, m, s = time_str.split(sep)
    else:
        h, m = time_str.strftime(f'%H{sep}%M').split(sep)
    return f'{int(h)}{sep}{int(m):02}'

In [6]:
def fmt_date(date_str: str, sep: str = '/'):
    # print(date_str, type(date_str))
    if type(date_str) == str:
        m, d, y = date_str.split(sep)
    else:
        m, d, y = date_str.strftime(f'%m{sep}%d{sep}%Y').split(sep)
    return f'{int(m)}/{int(d)}/{int(y)}'

In [7]:
def russia(file: Path, index: list):
    dataset = pd.read_csv(file)
    if 'Rrs' in file.name:
        dataset['date'] = [fmt_date(date_str=d) for d in dataset['date']]     
    # dataset.insert(1, 'country', 'Russia')
    return dataset.set_index(index)

In [8]:
def merge_pd(left=None, right=None, top=None, bottom=None):
    if left is None:
        return top.append(other=bottom)
    if top is None:
        return left.merge(right, left_index=True, right_index=True, how='left')

In [9]:
# !pip install openpyxl
# !python -m pip install --upgrade pip

In [10]:
def get_data(files: list, country: str):
    top = bottom = None
    index = [
        'date'
        , 'time'
        , 'lat'
        , 'lon'
        , 'station'
    ]
    func = china if country.lower() == 'china' \
        else korea if country.lower() == 'korea' \
        else russia if country.lower() == 'russia' \
        else japan
    
    for i, f in enumerate(files):
        if i == 0:
            top = func(file=f, index=index)
        else:
            bottom = func(file=f, index=index)
        
        top = merge_pd(top=top, bottom=bottom)
    # top.replace(np.nan, '-999', inplace=True)
    return top

In [11]:
# dstr = datetime.today().strftime('%Y%m%d')
# f = f'insitu_data_collection_{dstr}.csv'
# df.to_csv(f, float_format='%.8f', encoding='utf-8')

In [12]:
input_path = Path('C:/Users/Eligio/Documents/NPEC/NEAT/02.DataCollection')
output_path = Path('.').absolute()

In [13]:
# files
flist = [['testc1_modisa .csv']
         , ['red_tite_south_sea(2018)_UTC.csv'
            , 'red_tite_south_sea(2019)_UTC.csv']
         , ['VKachur_chl_a_new.csv'
            , 'VKachur_chl_OC2.csv'
            , 'VKachur_Rrs.csv']
         , ['Toyama_data2003-2021.xls']
        ]

In [14]:
for j, country in enumerate(('China', 'Korea', 'Russia', 'Japan')):
    files = [input_path.joinpath(country, f) for f in flist[j]]
    
    fls = '\n\t'.join([f'{f}' for f in files])
    print(f'{country}: {fls}')
    
    save = output_path.joinpath(f'{country.lower()}_dataset.csv')
    
    df = get_data(files=files, country=country)
    
    print(df)
    df.reset_index().to_csv(save, encoding='utf-8', index=False)

China: C:\Users\Eligio\Documents\NPEC\NEAT\02.DataCollection\China\testc1_modisa .csv
                                        chla
date      time  lat   lon     station
5/2/2019  0:50  38.35 120.470 B02      1.350
          7:55  38.33 119.450 B05      0.860
          12:33 38.31 118.960 B07      1.610
          17:09 38.83 118.970 B10      3.240
          21:06 39.16 119.400 B12      3.010
5/3/2019  3:10  39.14 120.320 B15      0.430
4/28/2019 22:10 37.00 123.010 H01      1.580
          18:35 37.02 123.500 H02      0.750
4/16/2019 21:45 36.00 121.090 H09      0.960
4/14/2019 4:45  34.97 120.550 H10      0.520
          11:35 35.00 121.730 H12      1.710
4/15/2019 22:15 35.00 123.250 H14      3.540
4/28/2019 14:45 37.50 123.530 N02      3.340
4/29/2019 1:55  37.49 123.010 N03      0.570
          4:55  37.75 123.240 N04      0.430
          9:55  38.24 123.740 N06      2.560
          18:15 39.24 123.760 N08      1.030
          21:20 39.27 123.260 N09      1.520
4/30/2019 16:25 37.99 121.510 N16      0.940
5/1/2019  12:40 38.30 121.270 N22      1.040
7/29/2019 4:07  38.33 120.454 B02      0.667
          10:22 38.30 119.439 B05      7.815
7/30/2019 6:15  38.32 119.008 B07      4.977
          10:02 38.83 118.967 B10      2.605
7/31/2019 13:48 39.15 119.401 B12      2.815
7/30/2019 19:52 39.14 120.324 B15      1.477
7/26/2019 15:06 37.00 122.997 H01      0.880
          23:32 37.00 123.498 H02      0.598
7/25/2019 7:50  36.28 120.813 H09      0.906
7/29/2019 6:17  34.99 120.496 H10      1.082
7/28/2019 23:31 34.99 121.782 H12      0.942
          10:14 35.00 123.240 H14      1.205
7/26/2019 4:18  37.50 123.514 N02      0.224
          7:00  37.50 123.039 N03      0.233
          9:18  37.74 123.243 N04      0.224
          14:10 38.24 123.733 N06      0.378
          21:47 39.24 123.751 N08      0.244
7/27/2019 0:09  39.25 123.252 N09      0.402
          18:59 37.98 121.521 N16      0.520
7/26/2019 13:25 38.28 121.263 N22      0.363
Korea: C:\Users\Eligio\Documents\NPEC\NEAT\02.DataCollection\Korea\red_tite_south_sea(2018)_UTC.csv
	C:\Users\Eligio\Documents\NPEC\NEAT\02.DataCollection\Korea\red_tite_south_sea(2019)_UTC.csv
                                               chla
date       time lat       lon        station
08/07/2018 3:11 34.590283 127.705533 R01        6.1
           5:25 34.582883 127.681217 R02        8.2
           6:15 34.642267 127.669367 R03        4.1
08/08/2018 2:37 34.591533 127.700833 R04        1.5
           3:54 34.584317 127.694400 R05       16.9
           3:59 34.579467 127.796483 R06       15.9
           4:12 34.593267 127.820583 R07       4.58
           4:18 34.622250 127.803633 R08       12.7
           5:00 34.626867 127.797217 R09       36.8
           5:24 34.625900 127.795200 R10       25.9
           2:29 34.724167 128.070333 Y01        1.5
           4:35 34.641333 127.822167 Y02        7.4
           5:20 34.616833 127.804000 Y03        9.1
           8:28 34.735667 127.780667 Y04        5.4
8/30/2019  4:15 34.647170 127.671400 G37       1.96
           4:42 34.609080 127.674600 Y15       1.64
           5:00 34.596330 127.698300 Y16        4.6
           5:12 34.596170 127.698300 Y17       n.d.
           5:23 34.598330 127.698900 Y18      12.94
           6:23 34.579380 127.818000 Y19       8.41
           6:55 34.576500 127.818500 Y20      10.51
           7:18 34.574220 127.817700 Y21       n.d.
8/31/2019  0:50 34.628750 127.867000 Y22       4.68
           1:06 34.632880 127.843500 Y23      11.33
           1:11 34.632050 127.844000 Y24      12.51
           1:39 34.630420 127.845800 Y25       8.76
           2:00 34.634620 127.851800 Y26       n.d.
           2:53 34.631000 127.847300 Y27       4.78
           3:13 34.634450 128.863500 Y28       2.71
           4:12 34.634250 127.853900 Y29       3.71
           4:26 34.635530 127.855500 Y30        5.7
Russia: C:\Users\Eligio\Documents\NPEC\NEAT\02.DataCollection\Russia\VKachur_chl_a_new.csv
	C:\Users\Eligio\Documents\NPEC\NEAT\02.DataCollection\Russia\VKachur_chl_OC2.csv
	C:\Users\Eligio\Documents\NPEC\NEAT\02.DataCollection\Russia\VKachur_Rrs.csv
                                                   chla  chl_OC2   Rrs_410  \
date       time  lat       lon        station
10/27/2010 7:00  42.730592 132.194582 1        0.843967      NaN       NaN
10/28/2010 0:10  43.022783 134.994133 2        0.278893      NaN       NaN
           22:26 46.286383 138.551633 3        0.436200      NaN       NaN
10/29/2010 2:38  45.227732 137.422467 4        0.402367      NaN       NaN
10/30/2010 12:09 48.241807 140.494217 5        1.235533      NaN       NaN
...                                                 ...      ...       ...
8/19/2018  1:35  43.207626 131.846928 265           NaN      NaN  0.001895
           1:55  43.179822 131.848772 266           NaN      NaN  0.001483
           2:22  43.140642 131.845207 267           NaN      NaN  0.001311
           2:39  43.119486 131.824897 268           NaN      NaN  0.001351
           3:01  43.093472 131.795422 269           NaN      NaN  0.002654

                                                Rrs_411   Rrs_412   Rrs_413  \
date       time  lat       lon        station
10/27/2010 7:00  42.730592 132.194582 1             NaN       NaN       NaN
10/28/2010 0:10  43.022783 134.994133 2             NaN       NaN       NaN
           22:26 46.286383 138.551633 3             NaN       NaN       NaN
10/29/2010 2:38  45.227732 137.422467 4             NaN       NaN       NaN
10/30/2010 12:09 48.241807 140.494217 5             NaN       NaN       NaN
...                                                 ...       ...       ...
8/19/2018  1:35  43.207626 131.846928 265      0.002020  0.002079  0.002130
           1:55  43.179822 131.848772 266      0.001499  0.001494  0.001494
           2:22  43.140642 131.845207 267      0.001313  0.001320  0.001322
           2:39  43.119486 131.824897 268      0.001340  0.001354  0.001366
           3:01  43.093472 131.795422 269      0.002649  0.002640  0.002629

                                                Rrs_414   Rrs_415   Rrs_416  \
date       time  lat       lon        station
10/27/2010 7:00  42.730592 132.194582 1             NaN       NaN       NaN
10/28/2010 0:10  43.022783 134.994133 2             NaN       NaN       NaN
           22:26 46.286383 138.551633 3             NaN       NaN       NaN
10/29/2010 2:38  45.227732 137.422467 4             NaN       NaN       NaN
10/30/2010 12:09 48.241807 140.494217 5             NaN       NaN       NaN
...                                                 ...       ...       ...
8/19/2018  1:35  43.207626 131.846928 265      0.002058  0.001998  0.002004
           1:55  43.179822 131.848772 266      0.001503  0.001505  0.001508
           2:22  43.140642 131.845207 267      0.001316  0.001319  0.001326
           2:39  43.119486 131.824897 268      0.001362  0.001368  0.001375
           3:01  43.093472 131.795422 269      0.002615  0.002600  0.002588

                                                Rrs_417  ...   Rrs_691  \
date       time  lat       lon        station            ...
10/27/2010 7:00  42.730592 132.194582 1             NaN  ...       NaN
10/28/2010 0:10  43.022783 134.994133 2             NaN  ...       NaN
           22:26 46.286383 138.551633 3             NaN  ...       NaN
10/29/2010 2:38  45.227732 137.422467 4             NaN  ...       NaN
10/30/2010 12:09 48.241807 140.494217 5             NaN  ...       NaN
...                                                 ...  ...       ...
8/19/2018  1:35  43.207626 131.846928 265      0.002090  ...  0.002221
           1:55  43.179822 131.848772 266      0.001508  ...  0.001359
           2:22  43.140642 131.845207 267      0.001327  ...  0.001237
           2:39  43.119486 131.824897 268      0.001377  ...  0.001414
           3:01  43.093472 131.795422 269      0.002581  ...  0.001229

                                                Rrs_692   Rrs_693   Rrs_694  \
date       time  lat       lon        station
10/27/2010 7:00  42.730592 132.194582 1             NaN       NaN       NaN
10/28/2010 0:10  43.022783 134.994133 2             NaN       NaN       NaN
           22:26 46.286383 138.551633 3             NaN       NaN       NaN
10/29/2010 2:38  45.227732 137.422467 4             NaN       NaN       NaN
10/30/2010 12:09 48.241807 140.494217 5             NaN       NaN       NaN
...                                                 ...       ...       ...
8/19/2018  1:35  43.207626 131.846928 265      0.002219  0.002229  0.002167
           1:55  43.179822 131.848772 266      0.001331  0.001313  0.001286
           2:22  43.140642 131.845207 267      0.001213  0.001184  0.001151
           2:39  43.119486 131.824897 268      0.001386  0.001357  0.001323
           3:01  43.093472 131.795422 269      0.001202  0.001167  0.001138

                                                Rrs_695   Rrs_696   Rrs_697  \
date       time  lat       lon        station
10/27/2010 7:00  42.730592 132.194582 1             NaN       NaN       NaN
10/28/2010 0:10  43.022783 134.994133 2             NaN       NaN       NaN
           22:26 46.286383 138.551633 3             NaN       NaN       NaN
10/29/2010 2:38  45.227732 137.422467 4             NaN       NaN       NaN
10/30/2010 12:09 48.241807 140.494217 5             NaN       NaN       NaN
...                                                 ...       ...       ...
8/19/2018  1:35  43.207626 131.846928 265      0.002079  0.002093  0.002152
           1:55  43.179822 131.848772 266      0.001245  0.001211  0.001183
           2:22  43.140642 131.845207 267      0.001121  0.001095  0.001074
           2:39  43.119486 131.824897 268      0.001286  0.001244  0.001214
           3:01  43.093472 131.795422 269      0.001117  0.001099  0.001077

                                                Rrs_698   Rrs_699   Rrs_700
date       time  lat       lon        station
10/27/2010 7:00  42.730592 132.194582 1             NaN       NaN       NaN
10/28/2010 0:10  43.022783 134.994133 2             NaN       NaN       NaN
           22:26 46.286383 138.551633 3             NaN       NaN       NaN
10/29/2010 2:38  45.227732 137.422467 4             NaN       NaN       NaN
10/30/2010 12:09 48.241807 140.494217 5             NaN       NaN       NaN
...                                                 ...       ...       ...
8/19/2018  1:35  43.207626 131.846928 265      0.002162  0.002096  0.001991
           1:55  43.179822 131.848772 266      0.001155  0.001129  0.001103
           2:22  43.140642 131.845207 267      0.001054  0.001024  0.000992
           2:39  43.119486 131.824897 268      0.001197  0.001162  0.001119
           3:01  43.093472 131.795422 269      0.001042  0.001015  0.000993

[656 rows x 293 columns]

Japan: C:\Users\Eligio\Documents\NPEC\NEAT\02.DataCollection\Japan\Toyama_data2003-2021.xls
                                                chla_0 ss_0 cdom_0  chla_02  \
date      time  lat       lon        station
5/1/2003  21:40 36.790000 137.334000 滑川       0.700000  2.5    NaN      NaN
          22:50 36.910000 137.398000 黒部       0.600000  3.3    NaN      NaN
5/2/2003  0:00  36.989000 137.592000 朝日       0.500000  0.6    NaN      NaN
          3:00  36.868000 137.015000 氷見       0.800000  0.6    NaN      NaN
          4:20  36.804000 137.088000 小矢部川河口   1.100000  1.9    NaN      NaN
...                                                ...  ...    ...      ...
9/29/2021 10:49 36.769667 137.227000 10       4.949821  NaN    NaN      NaN
          9:00  36.835700 137.230133 SP       0.867746  NaN    NaN      NaN
          10:22 36.769667 137.227000 10       4.949821  NaN    NaN      NaN
          9:36  36.803000 137.230333 8        9.044015  NaN    NaN      NaN
          11:02 36.769667 137.297000 11       6.143334  NaN    NaN      NaN

                                              ss_02  cdom_02      k490  \
date      time  lat       lon        station
5/1/2003  21:40 36.790000 137.334000 滑川         NaN      NaN       NaN
          22:50 36.910000 137.398000 黒部         NaN      NaN       NaN
5/2/2003  0:00  36.989000 137.592000 朝日         NaN      NaN       NaN
          3:00  36.868000 137.015000 氷見         NaN      NaN       NaN
          4:20  36.804000 137.088000 小矢部川河口     NaN      NaN       NaN
...                                             ...      ...       ...
9/29/2021 10:49 36.769667 137.227000 10         NaN      NaN  0.277299
          9:00  36.835700 137.230133 SP         NaN      NaN  0.086316
          10:22 36.769667 137.227000 10         NaN      NaN  0.257691
          9:36  36.803000 137.230333 8          NaN      NaN  0.153097
          11:02 36.769667 137.297000 11         NaN      NaN  0.216410

                                               Rrs_380   Rrs_412   Rrs_443  \
date      time  lat       lon        station
5/1/2003  21:40 36.790000 137.334000 滑川            NaN       NaN       NaN
          22:50 36.910000 137.398000 黒部            NaN       NaN       NaN
5/2/2003  0:00  36.989000 137.592000 朝日            NaN       NaN       NaN
          3:00  36.868000 137.015000 氷見            NaN       NaN       NaN
          4:20  36.804000 137.088000 小矢部川河口        NaN       NaN       NaN
...                                                ...       ...       ...
9/29/2021 10:49 36.769667 137.227000 10       0.001557  0.001939  0.002348
          9:00  36.835700 137.230133 SP       0.003510  0.003708  0.004024
          10:22 36.769667 137.227000 10       0.001519  0.001845  0.002289
          9:36  36.803000 137.230333 8        0.003038  0.003197  0.003475
          11:02 36.769667 137.297000 11       0.001414  0.001887  0.002324

                                              ...   Rrs_520   Rrs_530  \
date      time  lat       lon        station  ...
5/1/2003  21:40 36.790000 137.334000 滑川       ...       NaN       NaN
          22:50 36.910000 137.398000 黒部       ...       NaN       NaN
5/2/2003  0:00  36.989000 137.592000 朝日       ...       NaN       NaN
          3:00  36.868000 137.015000 氷見       ...       NaN       NaN
          4:20  36.804000 137.088000 小矢部川河口   ...       NaN       NaN
...                                           ...       ...       ...
9/29/2021 10:49 36.769667 137.227000 10       ...  0.003532  0.003532
          9:00  36.835700 137.230133 SP       ...  0.003043  0.003043
          10:22 36.769667 137.227000 10       ...  0.003876  0.003876
          9:36  36.803000 137.230333 8        ...  0.002894  0.002894
          11:02 36.769667 137.297000 11       ...  0.002707  0.002707

                                               Rrs_531  Rrs_547   Rrs_551  \
date      time  lat       lon        station
5/1/2003  21:40 36.790000 137.334000 滑川            NaN      NaN       NaN
          22:50 36.910000 137.398000 黒部            NaN      NaN       NaN
5/2/2003  0:00  36.989000 137.592000 朝日            NaN      NaN       NaN
          3:00  36.868000 137.015000 氷見            NaN      NaN       NaN
          4:20  36.804000 137.088000 小矢部川河口        NaN      NaN       NaN
...                                                ...      ...       ...
9/29/2021 10:49 36.769667 137.227000 10       0.003541      NaN  0.003521
          9:00  36.835700 137.230133 SP       0.003026      NaN  0.002581
          10:22 36.769667 137.227000 10       0.003886      NaN  0.003842
          9:36  36.803000 137.230333 8        0.002880      NaN  0.002489
          11:02 36.769667 137.297000 11       0.002704      NaN  0.002512

                                               Rrs_555   Rrs_565   Rrs_667  \
date      time  lat       lon        station
5/1/2003  21:40 36.790000 137.334000 滑川            NaN       NaN       NaN
          22:50 36.910000 137.398000 黒部            NaN       NaN       NaN
5/2/2003  0:00  36.989000 137.592000 朝日            NaN       NaN       NaN
          3:00  36.868000 137.015000 氷見            NaN       NaN       NaN
          4:20  36.804000 137.088000 小矢部川河口        NaN       NaN       NaN
...                                                ...       ...       ...
9/29/2021 10:49 36.769667 137.227000 10       0.003485  0.003324  0.000803
          9:00  36.835700 137.230133 SP       0.002492  0.002262  0.000400
          10:22 36.769667 137.227000 10       0.003815  0.003674  0.000516
          9:36  36.803000 137.230333 8        0.002411  0.002206  0.000313
          11:02 36.769667 137.297000 11       0.002457  0.002286  0.000532

                                               Rrs_670   Rrs_678
date      time  lat       lon        station
5/1/2003  21:40 36.790000 137.334000 滑川            NaN       NaN
          22:50 36.910000 137.398000 黒部            NaN       NaN
5/2/2003  0:00  36.989000 137.592000 朝日            NaN       NaN
          3:00  36.868000 137.015000 氷見            NaN       NaN
          4:20  36.804000 137.088000 小矢部川河口        NaN       NaN
...                                                ...       ...
9/29/2021 10:49 36.769667 137.227000 10       0.000833  0.000939
          9:00  36.835700 137.230133 SP       0.000419  0.000483
          10:22 36.769667 137.227000 10       0.000532  0.000593
          9:36  36.803000 137.230333 8        0.000321  0.000351
          11:02 36.769667 137.297000 11       0.000554  0.000630

[1045 rows x 23 columns]